{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "chai": true,
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [],
  "extends": ["eslint:recommended"],
  "rules": {
    "no-console": "off",
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  }
}
